@import "variables";
@import "reset.scss";

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.calendar {
  display: flex;
  width: $calendar-width;
  flex-wrap: wrap;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: $calendar-item-margin;
    width: $calendar-item-width;
    height: $calendar-item-height;
    background-color: #eee;
    border: 1px solid;
  }

  & > div:hover {
    position: relative;
    bottom: 20px;
    cursor: pointer;
    background-color: pink;
  }

  @for $i from 1 through 31 {
    & :nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  &-28 :nth-last-child(-n+3) {
    display: none;
  }

  &-29 :nth-last-child(-n+2) {
    display: none;
  }

  &-30 :nth-last-child(-n+1) {
    display: none;
  }

  @each $day, $days-margin in $days {
    &-#{$day} :first-child {
      margin-left: $days-margin;
    }
  }

}
