$main-font-family: "Arial", sans-serif;
$main-font-size: 30px;
$calendar-item-width: 100px;
$calendar-item-height: 100px;
$calendar-item-margin: 0.5px;
$days-margin: $calendar-item-width + $calendar-item-margin*2;
$calendar-width: $days-margin * 7;

$days :
  ("tue" : $days-margin + 0.5,
  "wed" : $days-margin * 2 + 0.5,
  "thu" : $days-margin * 3 + 0.5,
  "fri" : $days-margin * 4 + 0.5,
  "sat" : $days-margin * 5 + 0.5,
  "sun" : $days-margin * 6 + 0.5);
